block variables
  - var selected = 'Home';
  
block tutoring
  - var tutoring_areas = ['Biology','Chemistry', 'Computer Science','Engineering','English', 'Finance','History','Math','Physics','Other'];

block education
  - var education_values = ['High School', 'Undergrad', 'Masters', 'PhD'];
  
html
  head
    title Tutoring App 
    link(rel="stylesheet", href="https://bootswatch.com/4/flatly/bootstrap.min.css")
    meta(charset="UTF-8")
      
  body
    main
      block nav
        - var main_menu = {'Home':'/', 'Workspace': '/workspace', 'Account':'/account', 'About Us': '/contact'};
        - var s_menu = {'Sign Up to Tutor': '/signup', 'Tutor Log In': '/login', 'Log Out': '/logout'};
        .navbar.navbar-expand-lg.navbar-dark.bg-primary
          a.navbar-brand(href="#") T-Bot
          .navbar-collapse.collapse.show(id="navbarColor01" style="")
            ul.navbar-nav.mr-auto
              each val,key in main_menu
                  if selected === key
                    li.nav-item.active
                      a.nav-link.active(href=val)= key  
                  else
                    li.nav-item
                      a.nav-link(href=val)= key 
            ul.navbar-nav.right
              each val,key in s_menu
                li.nav-item
                  a.nav-link(href=val)= key
      block header
        .jumbotron
          h1.display3(align="center") T-Bot - Online Tutoring Platform
          h6.display3(align="center") Hi #{display.email}
      
      block content
