extends base.pug

block variables
  - var selected = 'About Us';
  
block content
  p.lead.display3(align="center") This is a my final project for the class CS-6460: Educational Tech Foundations (Georgia Tech OMSCS)
  p.display3(align="center") More information about this project can be found at: LINK HERE
  
        
