<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Tutoring App</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">T-Bot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="\">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\contact">Contact</a>
        </li>
      </ul>
      <li class="nav-item">
        <a class="nav-link" href="\signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\">Sign In</a>
      </li>
    </div>
  </nav>
</div>
<br/>
<div class="jumbotron">
  <h1 class="display 3" align="center">T-Bot - Online Tutoring Platform</p>
</div>

<form class="form-horizontal" role="form" style="width: 50%;">
  <div class="form-group">
      <label for="Subject" class="col-sm-2 control-label">Subject</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="Physics, Math, Bio etc." value="">
      </div>
  </div>
  <div class="form-group">
      <label for="email" class="col-sm-2 control-label">I need help for</label>
      <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email" placeholder="30 minutes" value="">
      </div>
  </div>
  <div class="form-group">
      <label for="message" class="col-sm-2 control-label">Tell your tutor anything specific about what you need help with!</label>
      <div class="col-sm-10">
          <textarea class="form-control" rows="4" name="message"></textarea>
      </div>
  </div>
  <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
          <input id="submit" name="submit" type="submit" value="Find a Tutor" class="btn btn-primary">
      </div>
  </div>
  <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
          <! Will be used to display an alert to the user>
      </div>
  </div>
</form>
</div>


</body>
</html>
