extends base.pug

block content
  form.form-horizontal(action="/login" method="POST" role="form" style="width: 25%; margin: 0 auto;") 
    fieldset
      legend Log In
      .form-group
        label(for="email") Email Address
        input.form-control( name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" type="email")
      .form-group
        label(for="password") Password
        input.form-control(name="password" id="password" placeholder="Password" type="password")
    button.btn.btn-primary(type="submit") Log In 
