extends base.pug
  
block header
  .jumbotron
    h1.display3(align="center") T-Bot - Online Tutoring Platform
    h5.display3(align="center") #{display.logged_in} tutor(s) online right now
  
block content
  h3.display3(align="center") Tutors Found
    .list-group
      for tutor in tutors
        a.list-group-item.list-group-item-action.flex-column.align-items-start(href="#")
          .d-flex.w-100.justify-content-between
            h5.mb-1= tutor.userName
            p.mb-1= tutor.defaultRate
