extends base.pug
  
block header
  .jumbotron
    h1.display3(align="center") T-Bot - Online Tutoring Platform
    h5.display3(align="center") #{logged_in} tutor(s) online right now
  
block content
  h3.display3(align="center") Tutors
  for tutor in tutors
    .card.border-primary.mb-3(style="max-width: 20rem;margin: 0 auto;")
      .card-header= tutor.userName
      .card-body
        h4.card-title= tutor.defaultRate
          p 
          small.card-text= tutor.userSpecialties
        a.card-link(href="#") Contact
          
