extends base.pug

block variables
  - var selected = 'Workspace';
  
block header
  .jumbotron
    h1.display3(align="center") T-Bot - Online Tutoring Platform
    h5.display3(align="center") #{display.logged_in} tutor(s) online right now
  
block content
  h4.display3(align="center") Integrated Workspace Goes Here
  p.lead.display3(align="center") *Out of Scope for this Semester* 
